<div class="mb-4" exemplify="basicExample" [context]="this" [source]="'child'" [escapeStrings]="['insertedComponent','availableComponents']" [navStyle]="'tabs'" [externalSources]="[{
    name:'app.module.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular-bootgrid/master/src/app/app.module.ts'
  },{
    name:'basic.component.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular-bootgrid/master/src/app/card/card.component.ts'
  },{
    name:'basic.component.scss',
    src:'https://raw.githubusercontent.com/hjalmers/angular-bootgrid/master/src/app/card/card.component.scss'
  }]">
  <button class="btn btn-secondary mb-4" (click)="myGrid.editLayout()">Edit layout</button>
  <bootgrid #myGrid [items]="items">
    <ng-template let-item="item" let-index="i">
      <div class="card">
        <div class="card-header" [ngClass]="{'bg-handle':myGrid.edit}">
          Item {{item.order + 1}} of {{myGrid.items.length}}
          <button *ngIf="myGrid.edit" type="button" class="close float-right" aria-label="Close" (click)="myGrid.deleteItem(item);">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-block">
          <form *ngIf="myGrid.edit" class="form-inline mb-2">
            <label class="mr-2"><strong>Size:</strong></label>
            <span class="btn btn-secondary btn-sm mr-2" (click)="myGrid.shrink(item,myGrid.items, item.order);">Decrease -</span>
            <span class="btn btn-secondary btn-sm" (click)="myGrid.grow(item,myGrid.items, item.order)">Increase +</span>
          </form>
          <div class="mb-2"><strong>Item properties:</strong><br/>{{item | json}}</div>
          <bg-content [insertedComponent]="item.componentSelector" [availableComponents]="availableComponents"></bg-content>
        </div>
      </div>
    </ng-template>
  </bootgrid>
  <button *ngIf="myGrid.edit" class="btn btn-secondary mb-4" (click)="myGrid.addItem()">Add content</button>
</div>
