<div exemplify="basicExample" [source]="'child'" [angularInputs]="['ngClass']" [navStyle]="'tabs'" [externalSources]="[{
    name:'app.module.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular-bootgrid/master/src/app/app.module.ts'
  },{
    name:'basic.component.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular-bootgrid/master/src/app/basic/basic.component.ts'
  },{
    name:'basic.component.scss',
    src:'https://raw.githubusercontent.com/hjalmers/angular-bootgrid/master/src/app/basic/basic.component.scss'
  }]">
  <button class="btn btn-secondary mb-4" (click)="myGrid.editLayout()">Edit layout</button>
  <bootgrid #myGrid [items]="items">
    <template let-item="item">
      <div class="basic-box" [ngClass]="{'bg-handle':myGrid.edit}">
        <div class="row">
          <h3 class="col-12">Item: {{item.order}}</h3>
          <div class="col-6">Size xs: {{item.xs}}</div><div class="col-6">Order xs: {{item.xsOrder}}</div>
          <div class="col-6">Size sm: {{item.sm}}</div><div class="col-6">Order sm: {{item.smOrder}}</div>
          <div class="col-6">Size md: {{item.md}}</div><div class="col-6">Order md: {{item.mdOrder}}</div>
          <div class="col-6">Size lg: {{item.lg}}</div><div class="col-6">Order lg: {{item.lgOrder}}</div>
          <div class="col-6">Size xl: {{item.xl}}</div><div class="col-6">Order xl: {{item.xlOrder}}</div>
        </div>
        <button *ngIf="myGrid.edit" class="btn btn-danger btn-sm float-right mt-3" aria-label="Remove" (click)="myGrid.deleteItem(item);">Remove</button>
      </div>
    </template>
  </bootgrid>
  <button *ngIf="myGrid.edit" class="btn btn-secondary" (click)="myGrid.addItem()">Add content</button>
</div>

