<div class="mb-4" exemplify="basicExample" [context]="this" [source]="'child'" [escapeStrings]="['ngClass']" [navStyle]="'tabs'" [externalSources]="[{
    name:'app.module.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular-bootgrid/master/src/app/app.module.ts'
  },{
    name:'basic.component.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular-bootgrid/master/src/app/basic/basic.component.ts'
  },{
    name:'basic.component.scss',
    src:'https://raw.githubusercontent.com/hjalmers/angular-bootgrid/master/src/app/basic/basic.component.scss'
  }]">
  <button class="btn btn-secondary mb-4" (click)="myGrid.editLayout()">Edit layout</button>
  <bootgrid #myGrid [items]="items">
    <ng-template let-item="item">
      <div class="basic-box" [ngClass]="{'bg-handle':myGrid.edit}">
        <div class="row">
          <h3 class="col-12">Item: {{item.startPosition}}</h3>
          <div class="col-6">Size xs: {{item.size}}</div><div class="col-6">Order xs: {{item.position}}</div>
          <div class="col-6">Size sm: {{item.smSize}}</div><div class="col-6">Order sm: {{item.smPosition}}</div>
          <div class="col-6">Size md: {{item.mdSize}}</div><div class="col-6">Order md: {{item.mdPosition}}</div>
          <div class="col-6">Size lg: {{item.lgSize}}</div><div class="col-6">Order lg: {{item.lgPosition}}</div>
          <div class="col-6">Size xl: {{item.xlSize}}</div><div class="col-6">Order xl: {{item.xlPosition}}</div>
        </div>
        <button *ngIf="myGrid.edit" class="btn btn-danger btn-sm float-right mt-3" aria-label="Remove" (click)="myGrid.deleteItem(item);">Remove</button>
      </div>
    </ng-template>
  </bootgrid>
  <button *ngIf="myGrid.edit" class="btn btn-secondary mb-4" (click)="myGrid.addItem()">Add content</button>
</div>
