<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Add widget</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" (click)="myGrid.addItem(items[0])">Table</button>
        <button class="dropdown-item" (click)="myGrid.addItem(items[1])">Chart</button>
      </div>
    </div>
  </div>
</div>
<bootgrid #myGrid [items]="items">
  <ng-template let-item="item">
    <div class="card grid-item {{'grid-item-'+item.itemSize}} {{item.focused ? 'full-screen':''}}">
      <div class="card-header">
        <div class="row no-gutters">
        <div class="col"><h4 class="mb-0 bg-handle" [ngClass]="{'nested': item.group}">Widget size: {{item.itemSize}}</h4></div>
        <div class="col-auto" ngbDropdown [placement]="'bottom-right'" *ngIf="!item.focused">
          <i ngbDropdownToggle class="fa fa-bars"></i>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <h6 class="dropdown-header">Size</h6>
            <!--<button class="dropdown-item" [ngClass]="{'active':item.itemSize === 'sm'}" (click)="myGrid.setSize(item, 'sm');">Small</button>-->
            <button class="dropdown-item" [ngClass]="{'active':item.itemSize === 'md'}" (click)="myGrid.setSize(item, 'md');">Medium</button>
            <button class="dropdown-item" [ngClass]="{'active':item.itemSize === 'lg'}" (click)="myGrid.setSize(item, 'lg');">Large</button>
            <button class="dropdown-item" [ngClass]="{'active':item.itemSize === 'fs'}" (click)="myGrid.toggleFocus(item);">Full screen</button>
            <h6 class="dropdown-header">Other</h6>
            <button class="dropdown-item" (click)="myGrid.deleteItem(item);">Remove</button>
          </div>
        </div>
        <i class="fa fa-close" *ngIf="item.focused" (click)="myGrid.toggleFocus(item)"></i>
        </div>
      </div>
      <div class="card-body">
        <bg-content class="d-block" [size]="item.itemSize" [focus]="item.focused" [item]="item" [insertedComponent]="item.componentSelector" [availableComponents]="availableComponents"></bg-content>
      </div>
    </div>
  </ng-template>
</bootgrid>
