<h1>
  {{title}}
</h1>
<div class="container-fluid">
  Available widgets
  <div class="widgets row" [dragula]='"first-bag"'>
    <div class="widget" ngClass="{{'col-xl-'+ widget.xl}}" *ngFor="let widget of widgets; let i = index;">
      <div>{{i}}
        <span *ngIf="edit" (click)="widget.sm = widget.sm + 1">+</span>
        <span *ngIf="edit" (click)="widget.sm = widget.sm - 1">-</span>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-secondary" (click)="editLayout()">Edit layout</button>
<div class="container-fluid">
  <div class="row column-wrapper" ngClass="{{edit ? 'edit-row':''}}" *ngFor="let columns of rows" [dragula]='"second-bag"' style="position: relative;">

    <div class="first" ngClass="{{'col-xl-' + column.xl}} {{edit ? 'edit-column':''}}" *ngFor="let column of columns; let i = index;">
      <div class="handle">drag</div>
      <div>{{i+1}} of {{columns.length}} columns</div>
      <span *ngIf="edit" (click)="grow(column,columns, i)">+</span>
      <span *ngIf="edit" (click)="shrink(column,columns, i);">-</span>
      {{column.xl}}
      <div class="row drop-area" [dragula]='"first-bag"'>
      <table class="table">
        <tr><th *ngFor="let col of [1,2,3,4]">Heading</th></tr>
        <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9,10]"><td *ngFor="let col of [1,2,3,4]">test</td></tr>
      </table>
      </div>
    </div>
    <div *ngIf="columns.length === 0 && edit">
      <button class="btn btn-primary" (click)="addColumn(columns)">Add content</button>
    </div>
    <div *ngIf="columns.length > 0 && edit" style="display: table-cell;height: 100%;position: absolute;right: 0;" ngClass="{{('col-xl-' + (12-getRowWidth(columns)))}} {{(getRowWidth(columns) === 12 ? 'edit-column-max':'')}}">
      <button class="btn btn-primary" (click)="addColumn(columns)" style="width: 100%;height: 100%;">Add content</button>
    </div>
    <!--<div class="row-controls">
      <button *ngIf="edit" class="btn btn-secondary" (click)="addColumn(columns)">+</button>
      <button *ngIf="edit" class="btn btn-secondary" (click)="removeColumn(columns)">-</button>
    </div>-->
  </div>
</div>

<button *ngIf="edit" class="btn btn-secondary" (click)="addRow()">Add row</button>
<button *ngIf="edit" class="btn btn-secondary" (click)="removeRow()">Remove row</button>
