<h1>
  {{title}}  {{innerWidth}}
</h1>
<div class="container-fluid">
  Available widgets
  <div class="widgets row" [dragula]='"first-bag"'>
    <div class="widget" ngClass="{{'col-xl-'+ widget.xl}}" *ngFor="let widget of widgets; let i = index;">
      <div>{{i}}
        <span *ngIf="edit" (click)="widget.sm = widget.sm + 1">+</span>
        <span *ngIf="edit" (click)="widget.sm = widget.sm - 1">-</span>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
<bg-container></bg-container>
</div>

